In [4]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

In [5]:
vegetables = pd.read_csv('Agmarknet.csv')
vegetables = vegetables.drop(['Sl no.','Commodity','Grade'], axis = 1)

In [6]:
vegetables = vegetables[vegetables['District Name'] == "Satara"]
vegetables = vegetables[vegetables['Market Name'] == "Satara"]

In [7]:
vegetables['Price Date'] = pd.to_datetime(vegetables['Price Date'])
vegetables['Price Date'] = vegetables['Price Date'].dt.day
vegetables = vegetables.iloc[::-1]
vegetables.tail(10)

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
10543,Satara,Satara,Other,3000,7000,5000,24
10542,Satara,Satara,Other,3000,9000,6000,28
10541,Satara,Satara,Other,3000,9000,6000,1
10540,Satara,Satara,Other,5000,13000,9000,5
10539,Satara,Satara,Other,3000,13000,8000,7
10538,Satara,Satara,Other,3000,13000,8000,8
10537,Satara,Satara,Other,2000,15000,8500,12
10536,Satara,Satara,Other,2000,12000,7000,15
10535,Satara,Satara,Other,2500,10000,6250,19
10534,Satara,Satara,Other,2500,11000,6750,22

In [8]:
climate = pd.read_csv('climate_Satara_250.csv')
vegetables.reset_index(inplace=True)
vegetables[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg','Precipitation_Total']] = climate[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
data = vegetables[['Price Date', 'Modal Price (Rs./Quintal)', 'Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg', 'Precipitation_Total']] 
X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
y = vegetables[['Modal Price (Rs./Quintal)']]