In [75]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [76]:
%matplotlib inline

# Reading Dataset
Data is taken from https://agmarknet.gov.in/

In [77]:
vegetables = pd.read_csv('Agmarknet.csv')
vegetables.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Ahmednagar,Ahmednagar,Onion,Red,FAQ,500,14000,7500,16-Dec-19
1,2,Ahmednagar,Ahmednagar,Onion,Red,FAQ,3000,12500,9500,14-Dec-19
2,3,Ahmednagar,Ahmednagar,Onion,Red,FAQ,500,10000,5500,12-Dec-19
3,4,Ahmednagar,Ahmednagar,Onion,Red,FAQ,500,10000,6500,09-Dec-19
4,5,Ahmednagar,Ahmednagar,Onion,Other,FAQ,4000,10000,8000,09-Dec-19

In [78]:
vegetables.columns

Index(['Sl no.', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)',
       'Modal Price (Rs./Quintal)', 'Price Date'],
      dtype='object')

In [79]:
vegetables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12928 entries, 0 to 12927
Data columns (total 10 columns):
Sl no.                       12928 non-null int64
District Name                12928 non-null object
Market Name                  12928 non-null object
Commodity                    12928 non-null object
Variety                      12928 non-null object
Grade                        12928 non-null object
Min Price (Rs./Quintal)      12928 non-null int64
Max Price (Rs./Quintal)      12928 non-null int64
Modal Price (Rs./Quintal)    12928 non-null int64
Price Date                   12928 non-null object
dtypes: int64(4), object(6)
memory usage: 707.1+ KB

# Drop Unnecessary Colums

Sl no, Commodity, Grade are not  useful so drop it

In [80]:
vegetables = vegetables.drop(['Sl no.','Commodity','Grade'], axis = 1)
vegetables.head()

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,Ahmednagar,Ahmednagar,Red,500,14000,7500,16-Dec-19
1,Ahmednagar,Ahmednagar,Red,3000,12500,9500,14-Dec-19
2,Ahmednagar,Ahmednagar,Red,500,10000,5500,12-Dec-19
3,Ahmednagar,Ahmednagar,Red,500,10000,6500,09-Dec-19
4,Ahmednagar,Ahmednagar,Other,4000,10000,8000,09-Dec-19

# Data Selection

First select District Name == Satara 
Then, Select Market Name == Karad

In [81]:
vegetables = vegetables[vegetables['District Name'] == "Satara"]
vegetables = vegetables[vegetables['Market Name'] == "Satara"]
vegetables.head()

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
10534,Satara,Satara,Other,2500,11000,6750,22-Dec-19
10535,Satara,Satara,Other,2500,10000,6250,19-Dec-19
10536,Satara,Satara,Other,2000,12000,7000,15-Dec-19
10537,Satara,Satara,Other,2000,15000,8500,12-Dec-19
10538,Satara,Satara,Other,3000,13000,8000,08-Dec-19

In [82]:
vegetables['Price Date'] = pd.to_datetime(vegetables['Price Date'])
vegetables['Price Date'] = vegetables['Price Date'].dt.day
vegetables = vegetables.iloc[::-1]
vegetables.tail(10)

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
10543,Satara,Satara,Other,3000,7000,5000,24
10542,Satara,Satara,Other,3000,9000,6000,28
10541,Satara,Satara,Other,3000,9000,6000,1
10540,Satara,Satara,Other,5000,13000,9000,5
10539,Satara,Satara,Other,3000,13000,8000,7
10538,Satara,Satara,Other,3000,13000,8000,8
10537,Satara,Satara,Other,2000,15000,8500,12
10536,Satara,Satara,Other,2000,12000,7000,15
10535,Satara,Satara,Other,2500,10000,6250,19
10534,Satara,Satara,Other,2500,11000,6750,22

# Reading Climate dataset

In [83]:
climate = pd.read_csv('climate_Satara_210.csv')
vegetables.reset_index(inplace=True)
#climate[['Temp_Avg', 'Dew_Avg','Humid_Avg', 'Wind_Avg', 'Pressure_Avg', 'Precipitation_Total']]
#vegetables[['Temp_Avg', 'Dew_Avg','Humid_Avg', 'Wind_Avg', 'Pressure_Avg', 'Precipitation_Total']] = climate[['Temp_Avg', 'Dew_Avg','Humid_Avg', 'Wind_Avg', 'Pressure_Avg', 'Precipitation_Total']]
vegetables[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg','Precipitation_Total']] = climate[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
print(vegetables.head())
data = vegetables[['Price Date', 'Modal Price (Rs./Quintal)', 'Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg', 'Precipitation_Total']] 
#X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
y = vegetables[['Modal Price (Rs./Quintal)']]

   index District Name Market Name Variety  Min Price (Rs./Quintal)  \
0  10626        Satara      Satara   Other                      200
1  10625        Satara      Satara   Other                      200
2  10624        Satara      Satara   Other                      200
3  10623        Satara      Satara   Other                      100
4  10622        Satara      Satara   Other                      200

   Max Price (Rs./Quintal)  Modal Price (Rs./Quintal)  Price Date   Temp_Max  \
0                     1000                        600           3  83.966667
1                      800                        500           6  83.957143
2                      700                        450          13  83.880952
3                      800                        450          17  83.819048
4                      800                        500          20  83.852381

    Temp_Avg  ...    Dew_Avg    Dew_Min  Humid_Max  Humid_Avg  Humid_Min  \
0  74.142857  ...  63.933333  59.495238  91.214286  72.442857  48.966667
1  73.947619  ...  63.600000  59.119048  91.214286  72.185714  48.409524
2  73.442857  ...  62.900000  58.314286  91.571429  71.895238  47.409524
3  73.219048  ...  62.561905  57.961905  91.571429  71.680952  46.961905
4  73.095238  ...  62.309524  57.690476  91.600000  71.442857  46.433333

   Wind_Max  Wind_Avg  Wind_Min  Pressure_Avg  Precipitation_Total
0  5.480952  1.566667  0.490476     27.428571                  0.0
1  5.423810  1.528571  0.471429     27.442857                  0.0
2  5.200000  1.390476  0.414286     27.476190                  0.0
3  5.161905  1.366667  0.404762     27.495238                  0.0
4  5.076190  1.323810  0.390476     27.509524                  0.0

[5 rows x 22 columns]

In [84]:
data

,Price Date,Modal Price (Rs./Quintal),Temp_Max,Temp_Avg,Temp_Min,Dew_Max,Dew_Avg,Dew_Min,Humid_Max,Humid_Avg,Humid_Min,Wind_Max,Wind_Avg,Wind_Min,Pressure_Avg,Precipitation_Total
0,3,600,83.966667,74.142857,65.257143,59.495238,63.933333,59.495238,91.214286,72.442857,48.966667,5.480952,1.566667,0.490476,27.428571,0.000000
1,6,500,83.957143,73.947619,64.914286,59.119048,63.600000,59.119048,91.214286,72.185714,48.409524,5.423810,1.528571,0.471429,27.442857,0.000000
2,13,450,83.880952,73.442857,64.057143,58.314286,62.900000,58.314286,91.571429,71.895238,47.409524,5.200000,1.390476,0.414286,27.476190,0.000000
3,17,450,83.819048,73.219048,63.700000,57.961905,62.561905,57.961905,91.571429,71.680952,46.961905,5.161905,1.366667,0.404762,27.495238,0.000000
4,20,500,83.852381,73.095238,63.452381,57.690476,62.309524,57.690476,91.600000,71.442857,46.433333,5.076190,1.323810,0.390476,27.509524,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,8,8000,85.409524,76.942857,70.247619,65.352381,68.342857,65.352381,91.704762,77.000000,57.366667,4.528571,1.409524,0.276190,27.357143,0.066667
89,12,8500,85.133333,76.709524,70.076190,65.676190,68.457143,65.676190,92.061905,77.552381,57.928571,4.452381,1.347619,0.266667,27.366667,0.066667
90,15,7000,84.866667,76.452381,69.919048,65.852381,68.533333,65.852381,92.595238,78.090476,58.357143,4.390476,1.319048,0.266667,27.366667,0.066667
91,19,6250,84.466667,76.085714,69.638095,65.985714,68.528571,65.985714,93.133333,78.709524,58.895238,4.352381,1.280952,0.261905,27.385714,0.066667
92,22,6750,84.209524,75.861905,69.442857,66.071429,68.495238,66.071429,93.385714,79.057143,59.214286,4.304762,1.252381,0.252381,27.395238,0.066667

In [85]:
#sns.pairplot(data)

# Splitting Data into Traing and Testing Set

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, shuffle = True)

In [88]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import math

In [89]:
#200, 300, mse, split=5
regr = RandomForestRegressor(n_estimators = 5000,max_depth=3000, random_state=42, criterion="mae", min_samples_split=2, oob_score = True)
regr.fit(X_train,np.reshape(np.array(y_train), (len(y_train), )))
#from sklearn.svm import SVR
#regr = SVR(C=2e3, epsilon=0.1)
#regr.fit(X_train,np.reshape(np.array(y_train), (len(y_train), )))

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=3000, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=5000, n_jobs=None, oob_score=True,
                      random_state=42, verbose=0, warm_start=False)

In [90]:
predicted = regr.predict(X_test)
#print(np.reshape(predicted,(len(y_test),1)), np.reshape(y_test,(len(y_test),1)))
print(np.reshape(predicted,(len(y_test),1))- np.reshape(y_test,(len(y_test),1)))

    Modal Price (Rs./Quintal)
40                     -1.915
22                    265.890
55                    161.525
72                     72.290
0                     621.625
26                     15.650
39                     64.805
67                     42.740
10                     88.730
44                    -75.075
83                   -130.520
35                    -70.440
90                     -6.750
62                   -224.955
12                    195.870
4                     143.890
18                   1541.260
28                    171.040
49                     34.945
65                    250.250
15                     88.470
68                  -1053.090
78                   -224.865
30                    -11.320
33                     20.880
11                    178.130
66                   -487.960
69                   -480.250

# Trainging Set accuracy

In [91]:
pred = np.reshape(regr.predict(X_train), (len(y_train), 1))
out = np.reshape(np.array(y_train), (len(y_train), 1))
regr.score(X_train, y_train)
#[str(pred[i]) +"->" +str(out[i]) for i in range(len(y_train))]

0.985630705016625

In [92]:
from sklearn.metrics import *
#regr.score(np.reshape(predicted, (len(y_test), 1)), np.reshape(np.array(y_test), (len(y_test), 1)))

In [93]:
print(mean_squared_error(np.reshape(predicted, (len(y_test), 1)), np.reshape(np.array(y_test), (len(y_test), 1))))
print(math.sqrt(mean_squared_error(np.reshape(predicted, (len(y_test), 1)), np.reshape(np.array(y_test), (len(y_test), 1)))))

170605.17870000002
413.04379755662717

# Testing Set Accuracy

In [94]:
predicted = np.reshape(predicted,(len(y_test),1))
output = np.reshape(np.array(y_test),(len(y_test),1))
print(regr.score(X_test,y_test))

0.9303469886129977

In [98]:
print("Avg_error=" + str(sum((predicted - output))[0]/len(y_test)))

Avg_error=42.53035714285714

In [96]:
b= y_test.values
b = b.reshape((len(b),))
l = len(b)
sum_a = 0
for i in range(len(predicted)):
    print(str(predicted[i]) +"->"+ str(b[i]))
    sum_a = sum_a + abs(predicted[i] - b[i])

[1098.085]->1100
[715.89]->450
[1261.525]->1100
[2672.29]->2600
[1221.625]->600
[515.65]->500
[1164.805]->1100
[2442.74]->2400
[513.73]->425
[1074.925]->1150
[4869.48]->5000
[679.56]->750
[6993.25]->7000
[1975.045]->2200
[595.87]->400
[643.89]->500
[1941.26]->400
[721.04]->550
[1284.945]->1250
[2250.25]->2000
[488.47]->400
[2446.91]->3500
[2775.135]->3000
[688.68]->700
[670.88]->650
[578.13]->400
[2312.04]->2800
[2619.75]->3100

# Feature Importance

In [97]:
a = np.reshape(regr.feature_importances_, (len(regr.feature_importances_),1))
a = a.tolist()
col = X.columns
for i in range(0,15):
    print(col[i],  "->" , a[i][0])

Price Date -> 0.023608063044125664
Temp_Max -> 0.05521319330573212
Temp_Avg -> 0.09737295603596219
Temp_Min -> 0.12852298290741965
Dew_Max -> 0.09634740197419664
Dew_Avg -> 0.11040422003986891
Dew_Min -> 0.09462332378171542
Humid_Max -> 0.033617211439343125
Humid_Avg -> 0.0695576744260434
Humid_Min -> 0.0864557376911439
Wind_Max -> 0.026120645283407556
Wind_Avg -> 0.028721819234293924
Wind_Min -> 0.012702062682628332
Pressure_Avg -> 0.09693793911090759
Precipitation_Total -> 0.03979476904321156