In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
%matplotlib inline

# Reading Dataset
Data is taken from https://agmarknet.gov.in/

In [3]:
vegetables = pd.read_csv('Agmarknet.csv')
vegetables.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Ahmednagar,Ahmednagar,Onion,Red,FAQ,500,14000,7500,16-Dec-19
1,2,Ahmednagar,Ahmednagar,Onion,Red,FAQ,3000,12500,9500,14-Dec-19
2,3,Ahmednagar,Ahmednagar,Onion,Red,FAQ,500,10000,5500,12-Dec-19
3,4,Ahmednagar,Ahmednagar,Onion,Red,FAQ,500,10000,6500,09-Dec-19
4,5,Ahmednagar,Ahmednagar,Onion,Other,FAQ,4000,10000,8000,09-Dec-19

In [4]:
vegetables.columns

Index(['Sl no.', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)',
       'Modal Price (Rs./Quintal)', 'Price Date'],
      dtype='object')

In [5]:
vegetables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12928 entries, 0 to 12927
Data columns (total 10 columns):
Sl no.                       12928 non-null int64
District Name                12928 non-null object
Market Name                  12928 non-null object
Commodity                    12928 non-null object
Variety                      12928 non-null object
Grade                        12928 non-null object
Min Price (Rs./Quintal)      12928 non-null int64
Max Price (Rs./Quintal)      12928 non-null int64
Modal Price (Rs./Quintal)    12928 non-null int64
Price Date                   12928 non-null object
dtypes: int64(4), object(6)
memory usage: 707.1+ KB

# Drop Unnecessary Colums

Sl no, Commodity, Grade are not  useful so drop it

In [6]:
vegetables = vegetables.drop(['Sl no.','Commodity','Grade'], axis = 1)
vegetables.head()

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,Ahmednagar,Ahmednagar,Red,500,14000,7500,16-Dec-19
1,Ahmednagar,Ahmednagar,Red,3000,12500,9500,14-Dec-19
2,Ahmednagar,Ahmednagar,Red,500,10000,5500,12-Dec-19
3,Ahmednagar,Ahmednagar,Red,500,10000,6500,09-Dec-19
4,Ahmednagar,Ahmednagar,Other,4000,10000,8000,09-Dec-19

# Data Selection

First select District Name == Satara 
Then, Select Market Name == Karad

In [7]:
vegetables = vegetables[vegetables['District Name'] == "Satara"]
vegetables = vegetables[vegetables['Market Name'] == "Satara"]
vegetables.head()

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
10534,Satara,Satara,Other,2500,11000,6750,22-Dec-19
10535,Satara,Satara,Other,2500,10000,6250,19-Dec-19
10536,Satara,Satara,Other,2000,12000,7000,15-Dec-19
10537,Satara,Satara,Other,2000,15000,8500,12-Dec-19
10538,Satara,Satara,Other,3000,13000,8000,08-Dec-19

In [8]:
vegetables['Price Date'] = pd.to_datetime(vegetables['Price Date'])
vegetables['Price Date'] = vegetables['Price Date'].dt.day
vegetables = vegetables.iloc[::-1]
vegetables.tail(10)

,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
10543,Satara,Satara,Other,3000,7000,5000,24
10542,Satara,Satara,Other,3000,9000,6000,28
10541,Satara,Satara,Other,3000,9000,6000,1
10540,Satara,Satara,Other,5000,13000,9000,5
10539,Satara,Satara,Other,3000,13000,8000,7
10538,Satara,Satara,Other,3000,13000,8000,8
10537,Satara,Satara,Other,2000,15000,8500,12
10536,Satara,Satara,Other,2000,12000,7000,15
10535,Satara,Satara,Other,2500,10000,6250,19
10534,Satara,Satara,Other,2500,11000,6750,22

In [9]:
climate = pd.read_csv('climate_Satara_250.csv')
vegetables.reset_index(inplace=True)
#climate[['Temp_Avg', 'Dew_Avg','Humid_Avg', 'Wind_Avg', 'Pressure_Avg', 'Precipitation_Total']]
#vegetables[['Temp_Avg', 'Dew_Avg','Humid_Avg', 'Wind_Avg', 'Pressure_Avg', 'Precipitation_Total']] = climate[['Temp_Avg', 'Dew_Avg','Humid_Avg', 'Wind_Avg', 'Pressure_Avg', 'Precipitation_Total']]
vegetables[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg','Precipitation_Total']] = climate[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
print(vegetables.head())
data = vegetables[['Price Date', 'Modal Price (Rs./Quintal)', 'Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg', 'Precipitation_Total']] 
#X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
y = vegetables[['Modal Price (Rs./Quintal)']]

   index District Name Market Name Variety  Min Price (Rs./Quintal)  \
0  10626        Satara      Satara   Other                      200
1  10625        Satara      Satara   Other                      200
2  10624        Satara      Satara   Other                      200
3  10623        Satara      Satara   Other                      100
4  10622        Satara      Satara   Other                      200

   Max Price (Rs./Quintal)  Modal Price (Rs./Quintal)  Price Date  Temp_Max  \
0                     1000                        600           3    86.292
1                      800                        500           6    86.108
2                      700                        450          13    85.672
3                      800                        450          17    85.436
4                      800                        500          20    85.284

   Temp_Avg  ...  Dew_Avg  Dew_Min  Humid_Max  Humid_Avg  Humid_Min  Wind_Max  \
0    76.044  ...   63.816   58.704     88.252     68.884     45.236     5.740
1    75.796  ...   63.720   58.684     88.564     69.116     45.328     5.676
2    75.160  ...   63.504   58.600     89.404     69.760     45.564     5.580
3    74.836  ...   63.356   58.532     89.808     70.076     45.684     5.540
4    74.672  ...   63.248   58.480     89.976     70.264     45.836     5.240

   Wind_Avg  Wind_Min  Pressure_Avg  Precipitation_Total
0     1.748     0.572        27.360                  0.0
1     1.708     0.564        27.372                  0.0
2     1.652     0.548        27.388                  0.0
3     1.616     0.528        27.400                  0.0
4     1.556     0.528        27.412                  0.0

[5 rows x 22 columns]

In [10]:
data

,Price Date,Modal Price (Rs./Quintal),Temp_Max,Temp_Avg,Temp_Min,Dew_Max,Dew_Avg,Dew_Min,Humid_Max,Humid_Avg,Humid_Min,Wind_Max,Wind_Avg,Wind_Min,Pressure_Avg,Precipitation_Total
0,3,600,86.292,76.044,66.820,58.704,63.816,58.704,88.252,68.884,45.236,5.740,1.748,0.572,27.360,0.000
1,6,500,86.108,75.796,66.544,58.684,63.720,58.684,88.564,69.116,45.328,5.676,1.708,0.564,27.372,0.000
2,13,450,85.672,75.160,65.856,58.600,63.504,58.600,89.404,69.760,45.564,5.580,1.652,0.548,27.388,0.000
3,17,450,85.436,74.836,65.484,58.532,63.356,58.532,89.808,70.076,45.684,5.540,1.616,0.528,27.400,0.000
4,20,500,85.284,74.672,65.540,58.480,63.248,58.480,89.976,70.264,45.836,5.240,1.556,0.528,27.412,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,8,8000,87.756,78.188,69.404,62.332,66.384,62.332,87.500,71.136,50.556,5.608,1.604,0.300,27.404,0.056
89,12,8500,87.492,77.976,69.308,62.596,66.536,62.596,88.132,71.748,51.020,5.564,1.592,0.300,27.404,0.056
90,15,7000,87.296,77.788,69.168,62.760,66.664,62.760,88.684,72.264,51.380,5.532,1.576,0.300,27.408,0.056
91,19,6250,86.976,77.512,69.008,63.000,66.764,63.000,89.304,72.876,51.896,5.492,1.560,0.300,27.408,0.056
92,22,6750,86.764,77.348,68.880,63.084,66.772,63.084,89.576,73.184,52.208,5.428,1.544,0.300,27.408,0.056

In [11]:
#sns.pairplot(data)

In [12]:
#sns.lmplot(x='Price Date', y = 'Min Price (Rs./Quintal)', data = vegetables)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, shuffle = True)

In [15]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import math

In [16]:
#200, 300, mse, split=5
regr = RandomForestRegressor(n_estimators = 140,max_depth=300, random_state=42, criterion="mae", min_samples_split=2, oob_score = True)
regr.fit(X_train,np.reshape(np.array(y_train), (len(y_train), )))
#from sklearn.svm import SVR
#regr = SVR(C=2e3, epsilon=0.1)
#regr.fit(X_train,np.reshape(np.array(y_train), (len(y_train), )))

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=300, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=140, n_jobs=None, oob_score=True,
                      random_state=42, verbose=0, warm_start=False)

In [17]:
predicted = regr.predict(X_test)
#print(np.reshape(predicted,(len(y_test),1)), np.reshape(y_test,(len(y_test),1)))
print(np.reshape(predicted,(len(y_test),1))- np.reshape(y_test,(len(y_test),1)))

    Modal Price (Rs./Quintal)
40                 -26.785714
22                 700.714286
55                 103.928571
72                 161.785714
0                  766.428571
26                   1.428571
39                  -7.500000
67                -114.285714
10                  22.500000
44                 -72.142857
83               -1252.857143
35                 -19.285714
90                 557.857143
62                -273.571429
12                 286.428571
4                  -11.785714
18                 935.357143
28                  66.071429
49                   8.571429
65                  37.500000
15                 224.642857
68               -1248.928571
78                 -76.785714
30                 -45.714286
33                 121.428571
11                  36.071429
66                -587.500000
69                -476.071429

In [25]:
pred = np.reshape(regr.predict(X_train), (len(y_train), 1))
out = np.reshape(np.array(y_train), (len(y_train), 1))
regr.score(X_train, y_train)
#[str(pred[i]) +"->" +str(out[i]) for i in range(len(y_train))]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 15 columns):
Price Date             93 non-null int64
Temp_Max               93 non-null float64
Temp_Avg               93 non-null float64
Temp_Min               93 non-null float64
Dew_Max                93 non-null float64
Dew_Avg                93 non-null float64
Dew_Min                93 non-null float64
Humid_Max              93 non-null float64
Humid_Avg              93 non-null float64
Humid_Min              93 non-null float64
Wind_Max               93 non-null float64
Wind_Avg               93 non-null float64
Wind_Min               93 non-null float64
Pressure_Avg           93 non-null float64
Precipitation_Total    93 non-null float64
dtypes: float64(14), int64(1)
memory usage: 11.0 KB

In [19]:
from sklearn.metrics import *
#regr.score(np.reshape(predicted, (len(y_test), 1)), np.reshape(np.array(y_test), (len(y_test), 1)))

In [20]:
print(mean_squared_error(np.reshape(predicted, (len(y_test), 1)), np.reshape(np.array(y_test), (len(y_test), 1))))
print(math.sqrt(mean_squared_error(np.reshape(predicted, (len(y_test), 1)), np.reshape(np.array(y_test), (len(y_test), 1)))))

223572.9728498542
472.835037671548

In [21]:
predicted = np.reshape(predicted,(len(y_test),1))
output = np.reshape(np.array(y_test),(len(y_test),1))
print([str(predicted[i]) +"->" +str(output[i]) for i in range(len(y_test))])
print(regr.score(X_test,y_test))

['[1073.21428571]->[1100]', '[1150.71428571]->[450]', '[1203.92857143]->[1100]', '[2761.78571429]->[2600]', '[1366.42857143]->[600]', '[501.42857143]->[500]', '[1092.5]->[1100]', '[2285.71428571]->[2400]', '[447.5]->[425]', '[1077.85714286]->[1150]', '[3747.14285714]->[5000]', '[730.71428571]->[750]', '[7557.85714286]->[7000]', '[1926.42857143]->[2200]', '[686.42857143]->[400]', '[488.21428571]->[500]', '[1335.35714286]->[400]', '[616.07142857]->[550]', '[1258.57142857]->[1250]', '[2037.5]->[2000]', '[624.64285714]->[400]', '[2251.07142857]->[3500]', '[2923.21428571]->[3000]', '[654.28571429]->[700]', '[771.42857143]->[650]', '[436.07142857]->[400]', '[2212.5]->[2800]', '[2623.92857143]->[3100]']
0.9087218164044111

In [22]:
#y_train
print("Avg_error=" + str(sum(abs(predicted - output))[0]/len(y_test)))
print(len(y_test))

Avg_error=294.42602040816325
28

In [23]:
print("DecisionTreeRegressor",regr.base_estimator_)
#print("list of DecisionTreeRegressor",regr.estimators_)
print("feature importances")
print("______________________________________________________")
a = np.reshape(regr.feature_importances_, (len(regr.feature_importances_),1))
a.tolist()

DecisionTreeRegressor DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')
feature importances
______________________________________________________

[[0.027379817361226945],
 [0.03378557679665938],
 [0.23214626934940594],
 [0.07217514802965116],
 [0.0932016903704947],
 [0.10397608885583848],
 [0.10250672065653448],
 [0.051776185909244356],
 [0.02754392539900565],
 [0.09786312383246866],
 [0.03182113633530388],
 [0.026532629821241487],
 [0.005198572457872095],
 [0.03235693367379318],
 [0.06173618115125951]]

In [24]:
print("Number of features = ",regr.n_features_)
print("The number of outputs when fit is performed = ",regr.n_outputs_)
print("oob_score = ",regr.oob_score_)
print("oob_prediction = ", regr.oob_prediction_)

Number of features =  15
The number of outputs when fit is performed =  1
oob_score =  0.900918220158268
oob_prediction =  [1027.17391304 2559.25925926  439.62264151 2575.86206897  443.
 1071.81818182 1269.          917.9245283  1064.81481481  903.92156863
  599.07407407 3453.33333333  507.14285714  822.34042553 2565.625
  484.52380952 1111.01694915  816.39344262  507.84313725  588.
  958.92857143  968.96551724  587.         2679.50819672  631.63265306
 7549.05660377  854.16666667 8061.32075472 1396.59090909 6417.24137931
 1183.62068966 1052.88461538 1240.6779661  2685.29411765 1061.01694915
 2000.90909091 1692.30769231 7017.34693878 6600.         1082.9787234
 1698.68421053 1085.86956522 3778.26086957 1400.          882.45614035
 8080.         1485.         1927.27272727 3591.34615385  864.58333333
  855.          872.22222222 1250.         2048.21428571  641.83673469
 1733.05084746 8163.7254902  2776.53061224 7364.86486486 4319.51219512
 2322.54901961 2168.75       2823.17073171 1023.07692308 1160.86956522]