# Vegetable Price Prediction Using Machine Learning
Implemented for West Bengal, Kolkata district, Bara Bazar market (Commodity = Onion)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import time
%matplotlib inline

# Reading Dataset
Vegetable Data is taken from https://agmarknet.gov.in

In [2]:
vegetables = pd.read_csv('Bhopal_Tomato.csv')
vegetables.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,31-Dec-19
1,2,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,30-Dec-19
2,3,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,29-Dec-19
3,4,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,28-Dec-19
4,5,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,27-Dec-19

# Data Selection

select District Name == Kolkata <br>
Select Market Name == Bara Bazar (Posta Bazar) <br>
Then Select Variety == Jyoti

In [3]:
vegetables = vegetables[vegetables['District Name'] == "Bhopal"]
vegetables = vegetables[vegetables['Market Name'] == "Bhopal(F&V)"]
vegetables = vegetables[vegetables['Commodity'] == "Tomato"]
vegetables.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,31-Dec-19
1,2,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,30-Dec-19
2,3,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,29-Dec-19
3,4,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,28-Dec-19
4,5,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,27-Dec-19

In [4]:
vegetables['Price Date'] = pd.to_datetime(vegetables['Price Date'])
vegetables['Price Date'] = vegetables['Price Date'].dt.day
vegetables = vegetables.iloc[::-1]
vegetables.tail(10)

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
9,10,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,22
8,9,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,23
7,8,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,24
6,7,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,25
5,6,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,26
4,5,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,27
3,4,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,28
2,3,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,29
1,2,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,2000,1500,30
0,1,Bhopal,Bhopal(F&V),Tomato,Other,FAQ,1000,1500,1200,31

# Reading Climate Data
Weather Data is taken from https://www.wunderground.com/

In [5]:
climate = pd.read_csv('climate_Bhopal_270.csv')
vegetables.reset_index(inplace=True)
vegetables[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg','Precipitation_Total']] = climate[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
print(vegetables.head())
data = vegetables[['Price Date', 'Modal Price (Rs./Quintal)', 'Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg', 'Precipitation_Total']] 
X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
y = vegetables[['Modal Price (Rs./Quintal)']]
print(X.shape)

   index  Sl no. District Name  Market Name Commodity Variety Grade  \
0    345     346        Bhopal  Bhopal(F&V)    Tomato   Other   FAQ
1    344     345        Bhopal  Bhopal(F&V)    Tomato   Other   FAQ
2    343     344        Bhopal  Bhopal(F&V)    Tomato   Other   FAQ
3    342     343        Bhopal  Bhopal(F&V)    Tomato   Other   FAQ
4    341     342        Bhopal  Bhopal(F&V)    Tomato   Other   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                      600                     1000
1                      600                     1000
2                      600                     1000
3                      600                     1000
4                      600                     1000

   Modal Price (Rs./Quintal)  ...    Dew_Avg    Dew_Min  Humid_Max  Humid_Avg  \
0                        800  ...  64.259259  60.437037  81.574074  62.629630
1                        800  ...  64.211111  60.400000  81.685185  62.755556
2                        800  ...  64.140741  60.322222  81.888889  62.852963
3                        800  ...  64.322222  60.485185  82.259259  63.133704
4                        800  ...  64.296296  60.455556  82.500000  63.317037

   Humid_Min  Wind_Max  Wind_Avg  Wind_Min  Pressure_Avg  Precipitation_Total
0  45.592593  7.340741  4.675185  2.374074           0.0                  0.0
1  45.729630  7.340741  4.670741  2.366667           0.0                  0.0
2  45.711111  7.337037  4.657778  2.348148           0.0                  0.0
3  45.896296  7.366667  4.670741  2.351852           0.0                  0.0
4  46.022222  7.351852  4.640370  2.303704           0.0                  0.0

[5 rows x 25 columns]
(346, 15)

In [ ]:
#sns.pairplot(data)

# Data is splitted into train and test set.

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import math

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X[:-1], y[:-1], test_size=0.3, random_state=42, shuffle = True)

# Implementation Of Algorithm 
Implementing Random Forest algorithm

In [110]:
start = time.time()
regr = RandomForestRegressor(n_estimators = 1000,max_depth=1000, random_state=20, criterion="mae", min_samples_split=2, oob_score = True)
regr.fit(X_train,np.reshape(np.array(y_train), (len(y_train), )))
end = time.time()
print(f"Runtime of the program is {end - start}")

Runtime of the program is 8.133550882339478

In [111]:
predicted = regr.predict(X_test)

# Accuracy For Training and Testing Set

In [112]:
#print(y_test, predicted)
print(regr.score(X_train, y_train))
print(regr.score(X_test, y_test))

0.9875986362322069
0.9043152888654192

# Feature Importance

In [113]:
a = np.reshape(regr.feature_importances_, (len(regr.feature_importances_),1))
a = a.tolist()
col = X.columns
for i in range(0,15):
    print(col[i],  "->" , a[i][0])

Price Date -> 0.0337787448402997
Temp_Max -> 0.03430672169627758
Temp_Avg -> 0.11341327680182359
Temp_Min -> 0.08749406396183448
Dew_Max -> 0.02094873168191108
Dew_Avg -> 0.03601057913060806
Dew_Min -> 0.019045655557605158
Humid_Max -> 0.003953233989150494
Humid_Avg -> 0.03511112576274253
Humid_Min -> 0.025303310024731657
Wind_Max -> 0.10203414257341986
Wind_Avg -> 0.1826612522209461
Wind_Min -> 0.270659413478607
Pressure_Avg -> 0.03527974828004269
Precipitation_Total -> 0.0

In [114]:
'''import pickle
with open("Karad_learn_max", "rb") as f:
    rf = pickle.load(f)
rf.predict()

print(np.reshape(predicted,(len(y_test),1))- np.reshape(y_test,(len(y_test),1)))
print(predicted, y_test)
'''

'import pickle\nwith open("Karad_learn_max", "rb") as f:\n    rf = pickle.load(f)\nrf.predict()\n\nprint(np.reshape(predicted,(len(y_test),1))- np.reshape(y_test,(len(y_test),1)))\nprint(predicted, y_test)\n'

In [115]:
b= y_test.values
b = b.reshape((len(b),))
l = len(b)
sum_a = 0
for i in range(len(predicted)):
    print(str(predicted[i]) +"->"+ str(b[i]))
    sum_a = sum_a + abs(predicted[i] - b[i])

1933.4->2100
2858.625->3150
2107.825->2100
2151.05->1600
1636.525->1500
3043.05->3100
822.2->800
1490.4->1500
1252.8->1100
3075.75->2750
3066.6->3100
1195.45->1150
985.55->1100
1985.05->1900
1794.075->1600
830.4->900
815.15->900
1746.4->1600
1913.15->1800
4125.8->3600
2920.8->3150
1773.425->1650
2974.275->3100
3084.7->3250
3197.4->3250
2513.725->3100
2073.8->1750
2049.4->2150
1628.5->1800
915.25->850
819.05->800
933.2->1000
1785.3->2250
1785.85->1900
708.5->700
1254.4->1100
1086.85->1150
3844.75->3250
1360.25->1500
739.25->700
915.2->800
1068.65->900
1220.6->1400
3016.7->2800
962.1->900
1772.15->1600
1484.6->1100
1622.975->1300
2983.05->3800
1332.8->1150
1713.975->1750
2978.85->3250
982.4->1100
1569.55->1750
2434.2->1900
1567.1->1500
900.75->800
3008.3->2800
4186.7->3750
2713.875->3150
1040.6->1050
1824.95->1500
1543.1->1500
1919.4->1500
1080.25->1100
3197.6->2900
1548.3->1150
1525.4->1500
1039.8->1200
1142.7->1150
2966.325->3000
1281.55->1000
1749.2->1400
3211.5->3250
1987.45->1600
3670.45->3900
1277.85->1400
2428.15->2250
2884.65->3150
2887.075->3250
1091.2->1200
4176.5->3150
809.55->700
2350.25->1900
1177.95->1150
3052.2->2750
1880.175->1850
1061.65->1600
3068.45->3100

In [116]:
print(sum_a/l)

205.9575842696629