# Vegetable Price Prediction Using Machine Learning
Implemented for Jalore,Jalore market (Commodity = Gaarlic)

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import time
%matplotlib inline

# Reading Dataset
Vegetable Data is taken from https://agmarknet.gov.in

In [20]:
vegetables = pd.read_csv('Jalore.csv')
vegetables.head()
len(vegetables)

91

# Data Selection

select District Name == Jalore <br>
Select Market Name == Jalore <br>
Then Select Commodity == Garlic

In [21]:
vegetables = vegetables[vegetables['District Name'] == "Jalore"]
vegetables = vegetables[vegetables['Market Name'] == "Jalore"]
vegetables.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Jalore,Jalore,Garlic,Other,FAQ,14000,15000,14500,28-Dec-19
1,2,Jalore,Jalore,Garlic,Other,FAQ,140,150,145,21-Nov-19
2,3,Jalore,Jalore,Garlic,Other,FAQ,140,150,145,20-Nov-19
3,4,Jalore,Jalore,Garlic,Other,FAQ,140,150,145,19-Nov-19
4,5,Jalore,Jalore,Garlic,Other,FAQ,5500,6000,5750,08-Sep-19

In [22]:
vegetables['Price Date'] = pd.to_datetime(vegetables['Price Date'])
vegetables['Price Date'] = vegetables['Price Date'].dt.day
vegetables = vegetables.iloc[::-1]
vegetables.tail(10)

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
9,10,Jalore,Jalore,Garlic,Other,FAQ,5500,6000,5800,31
8,9,Jalore,Jalore,Garlic,Other,FAQ,5500,6000,5700,1
7,8,Jalore,Jalore,Garlic,Other,FAQ,5500,6000,5600,5
6,7,Jalore,Jalore,Garlic,Other,FAQ,5000,5500,5300,6
5,6,Jalore,Jalore,Garlic,Other,FAQ,5500,6000,5800,7
4,5,Jalore,Jalore,Garlic,Other,FAQ,5500,6000,5750,8
3,4,Jalore,Jalore,Garlic,Other,FAQ,140,150,145,19
2,3,Jalore,Jalore,Garlic,Other,FAQ,140,150,145,20
1,2,Jalore,Jalore,Garlic,Other,FAQ,140,150,145,21
0,1,Jalore,Jalore,Garlic,Other,FAQ,14000,15000,14500,28

# Reading Climate Data
Weather Data is taken from https://www.wunderground.com/

In [23]:
climate = pd.read_csv('climate_Jalore_270.csv')
vegetables.reset_index(inplace=True)
vegetables[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg','Precipitation_Total']] = climate[['Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
print(vegetables.head())
data = vegetables[['Price Date', 'Modal Price (Rs./Quintal)', 'Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Avg', 'Precipitation_Total']] 
X = vegetables[['Price Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min', 'Pressure_Avg', 'Precipitation_Total']]
y = vegetables[['Modal Price (Rs./Quintal)']]
print(X.shape)

   index  Sl no. District Name Market Name Commodity Variety Grade  \
0     81      82        Jalore      Jalore    Garlic   Other   FAQ
1     80      81        Jalore      Jalore    Garlic   Other   FAQ
2     79      80        Jalore      Jalore    Garlic   Other   FAQ
3     78      79        Jalore      Jalore    Garlic   Other   FAQ
4     77      78        Jalore      Jalore    Garlic   Other   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                     1400                     1600
1                     1200                     1400
2                     1200                     1400
3                     1000                     1200
4                     1300                     1500

   Modal Price (Rs./Quintal)  ...    Dew_Avg    Dew_Min  Humid_Max  Humid_Avg  \
0                       1500  ...  56.292222  46.422222  66.844444  47.630000
1                       1300  ...  56.108148  46.418519  68.303704  48.890370
2                       1300  ...  55.981111  46.277778  71.433333  51.115556
3                       1100  ...  56.031481  46.296296  72.018519  51.571111
4                       1400  ...  55.124815  45.440741  75.159259  53.754815

   Humid_Min   Wind_Max  Wind_Avg  Wind_Min  Pressure_Avg  Precipitation_Total
0  28.251852  13.377778  5.474815  1.355556     28.243704                  0.0
1  29.092593  13.011111  5.365926  1.374074     28.262222                  0.0
2  30.177778  12.529630  5.092222  1.203704     28.401852                  0.0
3  30.429630  12.485185  5.075185  1.200000     28.404074                  0.0
4  31.529630  11.566667  4.946667  1.174074     28.441111                  0.0

[5 rows x 25 columns]
(82, 15)

In [ ]:
sns.pairplot(data)

# Data is splitted into train and test set.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import math

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X[:-1], y[:-1], test_size=0.3, random_state=42, shuffle = True)

# Implementation Of Algorithm 
Implementing Random Forest algorithm

In [ ]:
start = time.time()
regr = RandomForestRegressor(n_estimators = 1000,max_depth=3000, random_state=20, criterion="mae", min_samples_split=2, oob_score = True)
regr.fit(X_train,np.reshape(np.array(y_train), (len(y_train), )))
end = time.time()
print(f"Runtime of the program is {end - start}")

In [ ]:
predicted = regr.predict(X_test)

# Accuracy For Training and Testing Set

In [ ]:
#print(y_test, predicted)
print(regr.score(X_train, y_train))
print(regr.score(X_test, y_test))

# Feature Importance

In [ ]:
a = np.reshape(regr.feature_importances_, (len(regr.feature_importances_),1))
a = a.tolist()
col = X.columns
for i in range(0,15):
    print(col[i],  "->" , a[i][0])

# predicted vs Actual

In [ ]:
b= y_test.values
b = b.reshape((len(b),))
l = len(b)
sum_a = 0
for i in range(len(predicted)):
    print(str(predicted[i]) +"->"+ str(b[i]))
    sum_a = sum_a + abs(predicted[i] - b[i])

In [ ]:
print(sum_a/l)

# Create picke file

In [ ]:
import pickle
filename = 'Jalore_Garlic'
outfile = open(filename,'wb')
pickle.dump(regr,outfile)
outfile.close()

In [ ]:
filename = 'Jalore_Garlic'
with open(filename, "rb") as f:
    rf = pickle.load(f)
predicted = rf.predict(X)
actual= np.reshape(np.array(y),(len(y),))
#print(predicted,actual)
sum = 0
for i in range(len(predicted)):
    #print(str(actual[i]) + "->" + str(predicted[i]))
    sum = sum +abs(actual[i] - predicted[i])
f.close()

# Total Error

In [ ]:
print(sum/len(actual))